body {
    background-image: url('../Media/camo_background.jfif');
}

@media only screen and (max-width: 992px) {
    .col-md-12, .col-sm-12 {
        padding: 0;
        margin: 0;
    }
}

.heading, .pictures-right {
    min-height: 600px;
}

.heading {
    background-color: blue;
    min-height: 600px;
}

.pictures-right {
    background-color: blue;
}

.program-overview {
    background-color: white;
    min-height: 500px;
}

.batallion-staff {
    background-image: url("../Media/soldier_background.jpeg");
    background-position: center;
    background-size: cover;
}
