@media only screen and (max-width: 992px) {
    .col-md-12, .col-sm-12 {
        padding: 0;
        margin: 0;
    }
}

.soldier-background {
    width: 100%;
}

.pictures-left, .pictures-right {
    min-height: 200px;
    background-color: blue;
}

.program-overview {
    background-color: white;
    min-height: 600px;
}

.batallion-staff {
    background-color: green;
    min-height: 200px;
}
