body {
    background-image: url('camo_background.jfif');
}

.pictures-left, .pictures-right {
    background-color: blue;
    min-height: 600px;
}

.program-overview {
    background-color: white;
    min-height: 500px;
}

.batallion-staff {
    background-color: green;
    min-height: 200px;
}